<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dmusurveycoursework">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DMUSurveryCoursework"
        tools:targetApi="31">
        <activity
            android:name=".UpdateSurveyChooserActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UpdateSurveyActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SurveyStatsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminListView"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ActiveSurveysActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AllSurveysActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AnswerSurveyActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SurveyCreatorActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AdminWelcomePage"
            android:exported="false" />
        <activity
            android:name=".ListView"
            android:exported="false" />
        <activity
            android:name=".SurveyChooserActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AdminLogInActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StudentOrAdminActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WelcomePageActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LogInActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>